@font-face {
    font-family: "Nexa-ExtraLight";
    src: url("../font/Nexa-ExtraLight.ttf");
}
@font-face {
    font-family: "Nexa-Heavy";
    src: url("../font/Nexa-Heavy.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Nexa-Extralight', sans-serif;
}

.logo-ajuste {
    width: auto;
    height: 100%;
}

body {
    background-color: #060808;
    overflow-x: hidden;
}

header {
    list-style: none;
    background-color: #060808;
    height: rem;
    width: 100vw;
    position: sticky !important;
    top: 0;
    z-index: 1;
}

.fondo-nav {
    background-color: #060808
}

.navegador {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.logo-principal {
    height: 5rem;
    margin: 0 0 0 0;
}

.Menu {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 2rem 2rem 0 0 ;
    z-index: 10;
}

.Enlaces {
    list-style: none;
    text-decoration: none;
    font-family: "Nexa-Heavy";
    font-weight: 200;
    color: white;
    padding: 0.5rem;
}

.Enlaces:hover{
    color: #ffffff;
    background-color: rgb(44, 44, 44);
}

.Titulos {
      text-align: center;
}

.main-container-1 {
    width: 100%;
    height: auto;
    position: relative;
}

.main-container-1 img{
    width: 100%;
    height: auto;
}

.main-container-1 h5{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: medium;
    font-weight: 900;
}

.carousel-control-next, .carousel-control-prev {
    top: 10rem;
    bottom: 10rem; 
}

.filtros {
    padding: 0 2rem 0 2rem;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.main-container-2 {
    list-style: none;
    padding: 5px 1rem 1rem 1rem;
    display: flex;
    justify-items: center;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 5rem 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
}

.imagenes {
    transition: opacity 0.2s;
  }
  
.desvanecido:hover .imagenes:not(:hover) {
    
    opacity: 0.3;
}

.main-container-3 {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    position: relative;
}

.main-container-3 img{
    width: 100%;
    height: auto;
}

.main-container-3 a{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: medium;
}


.proyecto1 {
    grid-row: 1/2;
    grid-column: 1/3;
    position:relative
}
.proyecto1 img {
    height: 100%;
    width: 100%;
    border: white solid 1px;
}
.proyecto1 h3{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: small;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.proyecto2 {
    grid-row: 1/2;
    grid-column: 3/4;
    position:relative
}
.proyecto2 img {
    height: 100%;
    width: 100%;
    border: white solid 1px;
}
.proyecto2 h3{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: small;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.proyecto3 {
    grid-row: 2/3;
    grid-column: 1/2;
    position:relative
}

.proyecto3 img {
    height: 100%;
    width: 100%;
    border: white solid 1px;
}
.proyecto3 h3{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: small;
    position: absolute;
    left: 4px;
    bottom: 4px;
}
.proyecto4 {
    grid-row: 2/3;
    grid-column: 2/4;
    position:relative
}

.proyecto4 img {
    height: 100%;
    width: 100%;
    border: white solid 1px;
}
.proyecto4 h3{
    text-decoration: none;
    font-style: oblique;
    color: white;
    font-size: small;
    position: absolute;
    left: 4px;
    bottom: 4px;
}

.Section-studio {
    height: 65rem;
    width: 100vw;
}

.grid-studio {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-rows: 1rem 1fr 1rem 1fr;
}

.parrafostudio {
    grid-column: 2/5;
    grid-row: 2/3;
    text-align:justify;
}

.perfil_1 {
    grid-column: 2/3 ;
    grid-row: 4/5 ;
}

.perfil_2 {
    grid-column: 4/5 ;
    grid-row: 4/5 ;
}
.perfil_1 img {
    width: 100%;
    height: auto;
    border: white;
    border-style: solid;
}

.perfil_1 h3 {
    text-align: center;
}

.perfil_2 img {
    width: 100%;
    height: auto;
    border: white;
    border-style: solid;
}
.perfil_2 h3 {
    text-align: center;
}

.Titulos {
    color: white;
    font-family: "Nexa-Heavy";
    font-weight: bold;
}

.studio {
    text-align: center;
    margin-top: 2rem;
}

.Nombres {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-family: "Nexa-ExtraLight";
    font-size: medium;
}

.Texto {
    color: white;
    font-style: italic;
}

main .caja {
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 1rem 0 2rem 0;
}

main h1 {
    text-align: center;
    margin: 0rem 0 1rem 0;
}

.formulario {
    list-style: none;
    margin: 2rem 5rem;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.redes {
    color: white;
    background-color: rgb(44, 44, 44);
    padding: 1rem 3rem 3rem 3rem;
}

.redes-imagenes {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

iframe {
    width: 25rem;
    height: 45rem;
}


footer div {
    height: 4rem;
    padding: 5px 0;
    border: transparent;
    border-top: #ffffff solid 0.25rem;
}

.caja-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.caja-footer h4{
    font-size: smaller;
    font-weight: 100;
    font-style: italic;
    color: white;
}

.caja-footer a{
    font-size: smaller;
    font-weight: 100;
    font-style: oblique;
    color: white
}

@media screen and (min-width: 939px) { 

    .footer-inicio {
        display: none;
    } 
}

@media screen and (max-width: 912px) {
    #carouselExampleCaptions {
        display: none;
    }
    .main-container-2 {
        display: none;
    }
    h1 {
        font-size: larger;
    }
    .Nombres {
        text-decoration: none;
        color: white;
        font-family: "Nexa-ExtraLight";
        font-size: smaller;
    }
}

@media screen and (min-width: 820px) and (orientation: landscape) {
    .fila-de-imagenes {
        display: none;
    }
}

@media screen and (orientation: landscape) {
    .fila-de-imagenes {
        display: none;
    }
    #carouselExampleCaptions {
        display:initial;
    }
    .main-container-2 {
        list-style: none;
        padding: 5px 1rem 1rem 1rem;
        display: flex;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 5rem 1fr;
        row-gap: 1rem;
        column-gap: 1rem;
    }
    .Section-studio {
        height: 47rem;
        width: 100vw;
    }
}


.Enlace-Correo {
    font-size: smaller;
    font-weight: 100;
    text-decoration: none;
    color: white;
    text-align: center;
}
