@media screen and (min-width: 939px) { 

    .footer-inicio {
        display: none;
    } 
}

@media screen and (min-width: 2560px) { 

    footer {
        display: none;
    } 
}

@media screen and (max-width: 912px) {
    #carouselExampleCaptions {
        display: none;
    }
    .main-container-2 {
        display: none;
    }
    h1 {
        font-size: larger;
    }
    .Nombres {
        text-decoration: none;
        color: white;
        font-family: "Nexa-ExtraLight";
        font-size: smaller;
    }
    iframe {
        width: 20rem;
        height: 30rem;
    }
}

@media screen and (min-width: 912px) {
    .fila-de-imagenes {
        display: none;
    }
}